<!-- Three -->
<section class="uk-section">
  <div class="uk-container">
	{{ if isset .Site.Params.contact "email" }}
		{{ with .Site.Params.contact.title }}<h2>{{ . }}</h2>{{ end }}
		{{ with .Site.Params.contact.content }}<p>{{ . }}</p>{{ end }}
	{{ end }}
	<div class="row" id="contact-form">
		{{ if (isset .Site.Params.contact "email") | and (gt (len .Site.Params.contact.email) 0) }}

			<a class="typeform-share button" href="https://ninthgeardev.typeform.com/to/BUVkoI" data-mode="popup" style="display:inline-block;text-decoration:none;background-color:#f46353;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:32px;line-height:80px;text-align:center;margin:0;height:80px;padding:0px 53px;border-radius:0px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" data-hide-headers=true data-hide-footer=true target="_blank">Want to get started? </a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>

		{{ else }}

		{{ end }}
    </div>
	</div>
</section>
